@model IEnumerable<Entidades.Models.Turma>


@{
    ViewData["Title"] = "Matriculas";
}

<h1>Consulta de Turmas</h1>

<a class="btn btn-outline-info my-3" asp-action="Exibematricula">Minhas Matrículas</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina.CodCred)
            </th>
            <th>
                Vagas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.NomeDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.CodCred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeVaga)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="SolicitaMatricula" asp-route-id="@item.TurmaId">Solicitar Matrícula</a>
            </td>
        </tr>
        }
    </tbody>
</table>
